.thin
{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #3478C7;
}
.light
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
}