.card{
    background-color:'white';
     border-color:'black';
     width:500px;
     height:600px;
     border-radius:5px;
     box-shadow:0 4px 2px 1px lightblue;
     align-self: center;
     align-content: center;
     margin-left:30%;
     margin-right: 30%;
     background-color: white;
     padding:  20px 20px 20px;
 }
 .achievement{
  background-color:'white';
  width:700px;
  height:max-content;
  border-radius:5px;
  box-shadow:0 4px 2px 1px lightblue;
  align-self: center;
  align-content: center;
  margin-left:30%;
  margin-right: 30%;
  background-color: white;
  margin-bottom: 50px;
 }
 .profile{
  background-color:'white';
  width:700px;
  height:auto;
  border-radius:5px;
  box-shadow:0 4px 2px 1px lightblue;
  align-self: center;
  align-content: center;
  margin-left:30%;
  margin-right: 30%;
  background-color: white;
  padding:  0px 20px 20px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 }
 .image{
   width:100px;
   height:100px;
   padding: 10px 10px 10px 10px;
   float:left;
 }
 .wrapper{
float: left;
}
 .dropdown{
     width: 450px;
     height:auto;
     border-radius: 10px;
     margin-bottom: 10px;
     margin-top: 5px;
 }
 .description{
     width: 450px;
     height: 50px;
     border-width: 1px;
     border-color: grey;
     border-radius: 10px;
     margin-bottom: 15px;
     margin-top: 5px;
 }
 .fileUpload{
    width: 450px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border-color: gray;
    border-width: 1px;
    border-style: dashed;
    margin-top: 5px;
 }
 .button{
    width:auto;
    height:auto;
    display: inline-block; 
    margin-right: 20px;
    border-radius: 10px;
}
.buttonWrapper{
    margin-left:30px;
    float: right;
}

.board{
    background-color:'white';
     border-color:'black';
     width: max-content;
     height:max-content;
     border-radius:5px;
     box-shadow:0 4px 2px 1px lightblue;
     align-self: center;
     align-content: center;
     float: right;
 }
.item_wrapper {
    width: 100%;
    padding: 10px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease-in;
  }
  
  .item__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .item__avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .item__score {
    font-family: monospace;
    flex: 1;
    text-align: right;
  }
  
  .item__avatar,
  .item__score {
    margin-left: 10px;
    color:dodgerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .item__name
  {
    margin-left: 10px;
    color:cornflowerblue;
  }

  .leaderboard{
    margin-top: 10px;
    text-align: center;
}

.points{
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
.achievementButton{
  float:right;
  margin-right: 100px;
}

.profileImage{
  float: right;
  width:40px;
  height: 40px;
  margin-left: 1100px;
    border-radius: 50%;
    overflow: hidden;
}

.leaderBoard{
 margin-left: 50px;
}
hr.class1{
  height: 10px;
  background-color: black;
  -webkit-filter: blur(1px);
  border-radius: 10px;
}
.name{
  font-weight: bold;
  font-size:x-large;
  display: inline-block;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.status{
  float:left;
}
.points_label{
  float:right;
}
